.addProduct{
  position: fixed;
    right: 20px;
    top: 48px;
    z-index: 2;
}

.cardGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.h2{
    text-align: center;
    color: #ffc107;
}